@font-face {
    font-family: 'TheSans-Regular';
    src: url('../../assets/fonts/TheSans-Regular.ttf'); 
  }
  @font-face {
    font-family: 'Exo-Regular';
    src: url('../../assets/fonts/Exo-Regular.otf'); 
  }

.ear {
    border-top-width: 10px;
    border-top-color: green;
}

.serv-crumb {
    margin-left: 50px !important;
    margin-top: 50px !important;
}

.header-services {
    font-size: 24px;
    background-color: #408ccb !important;
    width: 240px !important;
    height: 45px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Exo-Regular', sans-serif;
    font-weight: bold;
}

.header-text {
    padding-top: 5px !important;
    padding-left: 15px !important;
    color: #fff !important;
}

.services-paragraph {
    font-family: 'TheSans-Regular', sans-serif;
    font-size: 18px;
    color: #28285b;
    font-weight: 500;
}

.services-up {
    font-family: 'TheSans-Regular', sans-serif !important;
    font-size: 34px !important;
    color: #28285b !important;
    font-weight: bolder !important;
}

.aboutus-background {
    position: absolute;
    z-index: -1;
}

.aboutus-ear {
    position: absolute;
    z-index: 1;
}

.aboutus-btn {
    width: 315px;
    height: 135px;
}

.aboutus-btn-txt {
    font-family: 'Exo-Regular', sans-serif;
    margin-left: -200px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.aboutus-icon {
    width: 80px;
    height: 80px;
}

.aboutus-icon-txt {
    font-family: 'TheSans-Regular', sans-serif !important;
    font-size: 24px !important;
    font-weight: lighter;
    color: #245d8e;
}

.ear-icon {
    margin-left: 100px !important;
}

.cert-icon {
    margin-left: 90px !important;
}

.group-icon {
    margin-left: 80px !important;
}

.device-icon {
    margin-left: 70px !important;
}

.headphone-icon {
    margin-left: 60px !important;
}

.help-icon {
    margin-left: 70px !important;
}

.scope-icon {
    margin-left: 80px !important;
}

.aboutus-foot-imgs {
    margin-top: 100px;
}

.aboutus-imgs {
    height: 300px;
    width: 100%;
}

.aboutus-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.aboutus-text {
    margin-left: 100px;
    margin-top: 70px !important;
}

.aboutus-sidebar {
    margin-left: 250px !important;
}

.services-btn-txt1 {
    margin-left: -262px;
    color: white;
    font-size: 36px;
    font-family: 'Exo-Regular', sans-serif;
    font-weight: bolder;
    margin-top: 100px;
}

.services-btn-1st{
    margin-top: -11px;
}

.services-background {
    position: absolute;
    z-index: -1;
}

.services-doctor {
    position: absolute;
    z-index: 1;
    width: 453px;
}

.services-circle-principal {
    border-radius: 300px;
    width: 200px;
    height: 200px;
    margin-top: 110px;
    margin-left: 40px;
}

.services-titlecircle-principal {
    font-family: 'Exo-Regular', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #245d8e;
    margin-top: 15px;
}

.services-1st-head {
    margin-left: 60px
}

.services-2nd-head {
    margin-left: 7px
}

.services-3rd-head {
    margin-left: 42px
}

.services-4th-head {
    margin-left: 83px
}

.services-subtitlecircle-principal {
    font-family: 'Exo-Regular', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #245d8e;
    margin-left: -42px;
}

.services-1st-circle,
.services-2nd-circle,
.services-3rd-circle {
    z-index: 100;
    position: relative;
}

.services-1st-circle {
    margin-left: -237px;
    margin-top: 70px;
}

.services-2nd-circle {
    margin-left: -195px;
    margin-top: 60px;
}

.services-3rd-circle {
    margin-left: -160px;
    margin-bottom: -400px;
}

.services-1st-txt,
.services-2nd-txt,
.services-3rd-txt {
    background-color: #294999;
    font-family: 'Exo-Regular', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    height: 45px;
    font-weight: bolder;
}

.services-1st-txt,
.services-2nd-txt {
    margin-left: -850px;
    margin-top: -182px;
    width: 682px;
}

.services-3rd-txt {
    margin-top: 165px;
    margin-left: -850px;
    width: 709px;
}

.services-span {
    vertical-align: text-bottom;
}

.services-3rd-row {
    margin-top: 170px;
}

.services-list {
    font-family: 'Exo-Regular', sans-serif !important;
}

.servlist-header {
    font-family: 'Exo-Regular', sans-serif !important;
    font-weight: bolder !important;
    color: #245d8e !important;
    font-size: 50px !important;
}

.servlist-item {
    font-family: 'Exo-Regular', sans-serif !important;
    color: #245d8e !important;
    font-size: 30px !important;
}

.devices-gif {
    margin-top: -90px;
}

.section-footer{
    font-family: 'Exo-Regular', sans-serif !important;
    background-color: #294999;
    color: white;
    font-size: 34px !important;
    width: 1165px;
    margin-left: -211px !important;
    height: 92px;
    margin-top: -30px !important;
    font-weight: bolder;
    text-align: center;
}

.services-4th-row {
    margin-top: -28px;
}

.bullet1 {
    margin-left: 110px;
    margin-top: 90px;
}

.bspans {
    font-family: 'Exo-Regular', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: white;
}

.bulletspan1 {
    margin-left: 214px !important;
    margin-top: -125px;
}

.bulletLine1 {
    margin-top: -150px;
    margin-left: 140px;
}