@font-face {
    font-family: 'TheSans-Regular';
    src: url('../../assets/fonts/TheSans-Regular.ttf'); 
  }
  @font-face {
    font-family: 'Exo-Regular';
    src: url('../../assets/fonts/Exo-Regular.otf'); 
  }

.ear {
    border-top-width: 10px;
    border-top-color: green;
}

.serv-crumb {
    margin-left: 50px !important;
    margin-top: 50px !important;
}

.header-services {
    font-size: 24px;
    background-color: #408ccb !important;
    width: 240px !important;
    height: 45px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Exo-Regular', sans-serif;
    font-weight: bold;
}

.header-text {
    padding-top: 5px !important;
    padding-left: 15px !important;
    color: #fff !important;
}

.services-paragraph {
    font-family: 'TheSans-Regular', sans-serif;
    font-size: 18px;
    color: #28285b;
    font-weight: 500;
}

.services-up {
    font-family: 'TheSans-Regular', sans-serif !important;
    font-size: 34px !important;
    color: #28285b !important;
    font-weight: bolder !important;
}

.aboutus-background {
    position: absolute;
    z-index: -1;
}

.aboutus-ear {
    position: absolute;
    z-index: 1;
}

.aboutus-btn {
    width: 315px;
    height: 135px;
}

.aboutus-btn-txt {
    font-family: 'Exo-Regular', sans-serif;
    margin-left: -200px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}