@font-face {
    font-family: 'TheSans-Regular';
    src: url('../../assets/fonts/TheSans-Regular.ttf'); 
  }
  @font-face {
    font-family: 'Exo-Regular';
    src: url('../../assets/fonts/Exo-Regular.otf'); 
  }
  @font-face {
    font-family: 'Angelina-Demo';
    src: url('../../assets/fonts/Angelina_Demo.ttf'); 
  }


.ear {
    border-top-width: 10px;
    border-top-color: green;
}

.serv-crumb {
    margin-left: 50px !important;
    margin-top: 50px !important;
}

.header-services {
    font-size: 24px;
    background-color: #408ccb !important;
    width: 240px !important;
    height: 45px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Exo-Regular', sans-serif;
    font-weight: bold;
}

.header-text {
    padding-top: 5px !important;
    padding-left: 15px !important;
    color: #fff !important;
}

.services-paragraph {
    font-family: 'TheSans-Regular', sans-serif;
    font-size: 18px;
    color: #28285b;
    font-weight: 500;
}

.services-up {
    font-family: 'TheSans-Regular', sans-serif !important;
    font-size: 34px !important;
    color: #28285b !important;
    font-weight: bolder !important;
}

.aboutus-background {
    position: absolute;
    z-index: -1;
}

.aboutus-ear {
    position: absolute;
    z-index: 1;
}

.aboutus-btn {
  width: 515px;
  height: 210px;
  z-index: 1;
  position: absolute;
  margin-left: 30px;
}

.aboutus-btn-txt {
  font-family: 'Exo-Regular', sans-serif;
  margin-left: 209px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  position: absolute;
  z-index: 1;
  margin-top: 92px;
}

.aboutus-icon {
    width: 80px;
    height: 80px;
}

.aboutus-icon-txt {
    font-family: 'TheSans-Regular', sans-serif !important;
    font-size: 30px !important;
    font-weight: lighter;
    color: #245d8e;
}

.photo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.photo img{
  object-fit: cover;
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
  margin-top: 0;
}

.ear-icon {
    margin-left: 100px !important;
}

.cert-icon {
    margin-left: 90px !important;
}

.group-icon {
    margin-left: 80px !important;
}

.device-icon {
    margin-left: 70px !important;
}

.headphone-icon {
    margin-left: 60px !important;
}

.help-icon {
    margin-left: 70px !important;
}

.scope-icon {
    margin-left: 80px !important;
}

.aboutus-foot-imgs {
  margin-top: 210px;
  margin-left: -593px;
}

.aboutus-imgs {
    height: 300px;
    width: 100%;
}

.aboutus-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.aboutus-text {
    margin-left: 100px;
    margin-top: 70px !important;
}

.aboutus-sidebar {
    margin-left: 250px !important;
}

.services-btn-txt1 {
    margin-left: -262px;
    color: white;
    font-size: 36px;
    font-family: 'Exo-Regular', sans-serif;
    font-weight: bolder;
    margin-top: 100px;
}

.services-btn-1st{
    margin-top: -11px;
}

.services-background {
    position: absolute;
    z-index: -1;
}

.services-doctor {
    position: absolute;
    z-index: 1;
    width: 453px;
}

.services-circle-principal {
  border-radius: 300px;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-left: 40px;
}

.services-2nd-section {
  margin-left: 245px;
}

.services-titlecircle-principal {
    font-family: 'Exo-Regular', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #245d8e;
    margin-top: 15px;
}

.services-1st-head {
    margin-left: 60px
}

.services-2nd-head {
    margin-left: 7px
}

.services-3rd-head {
    margin-left: 42px
}

.services-4th-head {
    margin-left: 83px
}

.services-subtitlecircle-principal {
    font-family: 'Exo-Regular', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #245d8e;
    margin-left: -42px;
}

.services-1st-circle,
.services-2nd-circle,
.services-3rd-circle {
    z-index: 100;
    position: relative;
}

.services-1st-circle {
    margin-left: -237px;
    margin-top: 70px;
}

.services-2nd-circle {
    margin-left: -195px;
    margin-top: 60px;
}

.services-3rd-circle {
    margin-left: -160px;
    margin-bottom: -400px;
}

.services-1st-txt,
.services-2nd-txt,
.services-3rd-txt {
    background-color: #294999;
    font-family: 'Exo-Regular', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    height: 45px;
    font-weight: bolder;
}

.services-1st-txt,
.services-2nd-txt {
    margin-left: -850px;
    margin-top: -182px;
    width: 682px;
}

.services-3rd-txt {
    margin-top: 165px;
    margin-left: -850px;
    width: 709px;
}

.services-span {
    vertical-align: text-bottom;
}

.services-3rd-row {
    margin-top: 170px;
}

.services-list {
    font-family: 'Exo-Regular', sans-serif !important;
}

.servlist-header {
    font-family: 'Exo-Regular', sans-serif !important;
    font-weight: bolder !important;
    color: #245d8e !important;
    font-size: 50px !important;
    margin-left: 80px !important;
}

.servlist-item {
    font-family: 'Exo-Regular', sans-serif !important;
    color: #245d8e !important;
    font-size: 30px !important;
}

.devices-gif {
    margin-top: -90px;
}

.section-footer{
    font-family: 'Exo-Regular', sans-serif !important;
    background-color: #294999;
    color: white;
    font-size: 34px !important;
    width: 1165px;
    margin-left: -211px !important;
    height: 92px;
    margin-top: -30px !important;
    font-weight: bolder;
    text-align: center;
}

.services-4th-row {
    margin-top: 30px;
    margin-left: 245px;
}

.lonely-row {
  margin-left: 230px;
}

.bcontents {
    font-family: 'TheSans-Regular', sans-serif;
}

.bullet1 {
    margin-left: 110px;
    margin-top: 90px;
}

.bspans {
    font-family: 'Exo-Regular', sans-serif;
    font-weight: bolder;
    color: white;
}

.bulletspan1 {
    margin-left: 214px !important;
    margin-top: -125px;
    font-size: 45px;
}

.bulletLine1 {
    margin-top: -150px;
    margin-left: 140px;
}

.bulletContent1 {
    font-size: 25px;
    margin-top: -175px;
    margin-left: 175px;
}

.bullet2 {
    margin-left: 240px;
    margin-top: 30px;
    font-size: 45px;
}

.bulletspan2 {
    margin-left: 330px !important;
    margin-top: -110px;
    font-size: 32px;
}

.bulletLine2 {
    margin-top: -135px;
    margin-left: 255px;
}

.bulletContent2 {
    font-size: 27px !important;
    margin-top: -290px !important;
    margin-left: 320px !important;
    color: #294999;
}

.bullet3 {
    margin-left: 380px;
    margin-top: 5px;
}

.bulletspan3 {
    margin-left: 512px !important;
    margin-top: -112px;
    font-size: 32px;
}

.bulletLine3 {
    margin-left: 400px;
    margin-top: -133px;
}

.bulletContent3 {
    font-size: 22px !important;
    margin-top: -290px !important;
    margin-left: 460px !important;
    color: #294999;
}

.bullet4 {
    margin-left: 525px;
    margin-top: -20px;
}

.bulletspan4 {
    margin-left: 650px !important;
    margin-top: -112px;
    font-size: 32px;
}

.bulletLine4 {
    margin-left: 460px;
    margin-top: -133px;
}

.bulletContent4 {
    font-size: 28px !important;
    margin-top: -205px !important;
    margin-left: 510px !important;
    color: #294999;
}

.servlist-item2 {
    font-family: 'TheSans-Regular', sans-serif !important;
    color: #245d8e !important;
    font-size: 26px !important;
}

.last-servcont {
    margin-top: 75px;
}

.issues-paragraph {
    font-family: 'TheSans-Regular', sans-serif !important;
    color: #245d8e !important;
    font-size: 26px !important;
}

.issues-1st-par {
    margin-top: 180px !important;
}

.issues-btn1 {
    margin-top: 180px;
}

.issues-btn2 {
    margin-left: 320px;
    margin-top: -145px;
}

.issues-btntxt1,
.issues-btntxt2,
.issues-btntxt3 {
    font-family: 'TheSans-Regular', sans-serif !important;
    color: white !important;
    font-size: 26px !important;
    text-align: center;
    font-weight: bolder;
}

.issues-btntxt1 {
    margin-left: -600px;
    margin-top: -75px;
}

.issues-btntxt2 {
    margin-left: 32px;
    margin-top: -103px;
}

.bullet-section {
    margin-top: 100px;
    margin-left: 130px;
}

.issues-blt1,
.issues-blt2,
.issues-blt3,
.issues-blt4,
.issues-blt5  {
    margin-left: 90px;
}

.issues-blttxt1,
.issues-blttxt2,
.issues-blttxt3,
.issues-blttxt4,
.issues-blttxt5 {
    font-family: 'TheSans-Regular', sans-serif !important;
    color: white !important;
    font-size: 26px !important;
    text-align: center;
    font-weight: bolder;
}

.issues-blttxt1 {
    margin-left: -150px;
    margin-top: 45px;
}

.issues-blttxt2,
.issues-blttxt3,
.issues-blttxt4 {
    margin-left: -142px;
    margin-top: 80px;
}

.issues-blttxt5 {
    margin-left: -151px;
    margin-top: 42px;
}

.issues-landscape {
    margin-left: 28px;
    width: 100%;
}

.info-section {
    margin-top: 720px;
}

.check {
    width: 50px;
    height: 50px;
}

.check-txt {
    font-family: 'TheSans-Regular', sans-serif !important;
    color: #294999 !important;
    font-size:30px !important;
    font-weight: bolder;
}

.issues-list {
    margin-bottom: 25px !important;
}

.issues-2nd-section {
    width: 434px;
}

.first-list-icons {
    width: 60px !important;
    height: 60px !important;
    margin-left: -100px !important;
}

.issues-3rd-row {
    margin-top: 135px;
    margin-left: 291px;
}

.issues-3rd-list {
    margin-left: 200px !important;
    margin-top: 200px !important;
}

.issues-advisory {
    font-family: 'TheSans-Regular', sans-serif !important;
    color: #294999;
    margin-top: 100px;
    margin-left: -105px;
    font-size: 45px;
    height: 100px;
    font-weight: bolder;
}

.issues-1st-btn,
.issues-2nd-btn  {
  z-index: 1;
  position: absolute;
  margin-left: 30px;
}

.issues-1st-btn {
  width: 575px;
  height: 210px;
}

.issues-2nd-btn {
  width: 715px;
  height: 240px;
}

.issues-nocost {
  font-family: 'Angelina-Demo', sans-serif !important;
    color: #245d8e;
    font-size: 300px;
    margin-top: -100px !important;
    margin-bottom: -250px !important;
}

.issues-exam-txt,
.issues-audio-txt {
  font-family: 'Exo-Regular', sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 1;
}

.issues-exam-txt {
  margin-left: 231px;
  margin-top: 92px;
  font-size: 35px;
}

.issues-audio-txt {
  margin-left: 276px;
  margin-top: 107px;
  font-size: 30px;
}

.issues-btn3 {
    margin-left: 250px;
    margin-top: 40px;
}

.whatsapp-issues {
    width: 70px;
    margin-left: -263px;
    margin-top: 39px;
}

.issues-btntxt3 {
    margin-left: -16px;
    margin-top: -57px;
}

.landscape-inverted {
    margin-left: 27px;
    width: 100%;
    margin-top: -150px;
    z-index: -2;
}

.landscape-1sttxt {
    font-family: 'TheSans-Regular', sans-serif !important;
    font-size: 100px;
    font-weight: bolder;
    margin-top: -480px;
    margin-left: 180px;
    color: white;
}

.landscape-2ndtxt {
    font-family: 'TheSans-Regular', sans-serif !important;
    font-size: 30px;
    margin-top: -415px;
    color: white;
    margin-left: 654px;
}

.ear-1stblt,
.ear-2ndblt,
.ear-3rdblt,
.ear-4thblt,
.ear-5thblt {
    font-family: 'TheSans-Regular', sans-serif !important;
    font-size: 40px;
    background-color: #245d8e;
    color: white;
    width: 55px;
    border-radius: 28px;
    text-align: center;
    font-weight: bolder;
}

.ear-1sttxt,
.ear-2ndtxt,
.ear-3rdtxt,
.ear-4thtxt,
.ear-5thtxt {
    font-family: 'TheSans-Regular', sans-serif !important;
    font-size: 20px;
    color: #245d8e;
    text-align: center;
}

.ear-1stblt {
    margin-left: 200px;
}

.ear-1sttxt {
    width: 280px;
    margin-top: -30px;
    margin-left: 95px;
}

.ear-2nddiv {
    margin-top: 75px;
}

.ear-2ndblt {
    margin-left: 160px;
}

.ear-2ndtxt {
    width: 200px;
    margin-left: 86px;
    margin-top: -25px;
}

.ear-3rddiv {
    margin-left: 160px;
    margin-top: 145px;
}

.ear-3rdtxt {
    width: 310px;
    margin-left: -125px;
    margin-top: -27px;
}

.ear-schema {
    margin-left: 325px;
    margin-top: -153px;
}

.schema-1st-div {
  margin-left: 230px;
}

.ear-4thdiv {
    margin-left: 960px;
    margin-top: -290px;
}

.ear-4thtxt {
    width: 254px;
    margin-left: -85px;
    margin-top: -20px;
}

.ear-5thdiv {
    margin-left: 100px;
    margin-top: -230px;
}

.ear-5thtxt {
    width: 285px;
    margin-left: -110px;
    margin-top: -20px;
}

.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#c3e5f1;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:#245d8e;
  font-family:'TheSans-Regular', sans-serif !important;
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  font-family:'TheSans-Regular', sans-serif !important;
  font-weight: bolder;
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
   font-family:'TheSans-Regular', sans-serif !important;
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
  font-size: 18px !important;
  color:#245d8e;
  font-family:'TheSans-Regular', sans-serif !important;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}

.issues-4th-bkg {
    position: absolute;
    width: 433px;
}

.issues-world-paragraph {
    margin-left: 365px;
    margin-top: -115px;
}

.issues-calendar {
    margin-left: -120px;
    margin-top: 65px;
}

.issues-redpeople {
    margin-left: 50px;
    margin-right: 6px;
}

.issues-estimate-paragraph {
    margin-left: -70px;
    margin-top: -45px;
}

.issues-age {
    margin-left: 150px;
    margin-top: -125px;
}

.issues-age-paragraph {
    margin-left: 90px;
}

.issues-seventy {
    margin-left: 100px;
    margin-top: -20px;
}

.issues-data-paragraph {
    margin-left: 150px;
    margin-top: 20px;
}

.issues-70-paragraph {
    margin-left: 330px;
    margin-top: -25px;
}

.issues-80-paragraph {
    margin-left: 460px;
    margin-top: -25px;
}

.issues-clasification {
    margin-left: 110px;
    margin-bottom: 5px;
}

.issues-hypo-container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .issues-hypo-card {
    display: flex;
    height: 280px;
    width: 200px;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    margin-top: 550px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }

  .hypo-card1 {
    background-color: #245d8e;
  }
  
  .hypo-card2 {
    background-color: #408ccb;
  }

  .hypo-card3 {
    background-color: #78acdb;
  }

  .issues-hypo-card:not(:first-child) {
      margin-left: 30px;
  }
  
  .issues-hypo-card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .issues-hypo-card:hover ~ .issues-hypo-card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .issues-hypo-title {
    font-family:'TheSans-Regular', sans-serif !important;
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }

  .hypo-list {
    font-family:'TheSans-Regular', sans-serif !important;
    color: white;
    font-size: 16px;
  }
  
  .issues-hypo-bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .issues-hypo-emptybar {
    background-color: white;
    width: 100%;
    height: 100%;
  }
  
  .issues-hypo-filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .issues-hypo-card:hover .issues-hypo-filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .issues-hypo-circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .issues-hypo-stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .issues-hypo-card:hover .issues-hypo-stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  .issues-graphic-section {
    margin-top: 340px;
    margin-left: 80px;
  }

  .issues-graph-pgph {
    width: 910px;
    margin-top: 60px;
    margin-left: -555px;
  }

  .graphic-items {
    margin-top: 65px;
    z-index: 1;
  }

  .issues-graphic, .issues-graphic-bar, .issues-graphic-board {
      position: absolute;
      z-index: 1;
  }

  .issues-graphic {
    margin-top: 271px;
    margin-left: 130px;
  }

  .issues-graphic-board {
    margin-left: 738px;
    margin-top: 324px;
  }

  .issues-graphic-bar {
    margin-top: 315px;
    margin-left: 45px;
  }

  .issues-leafs, .issues-water, .issues-clock,
  .issues-talk1, .issues-talk2, .issues-dog,
  .issues-piano, .issues-talk3, .issues-machine,
  .issues-moto, .issues-plane {
      z-index: 2;
      position: absolute;
  }

  .issues-leafs {
    margin-top: 285px;
    margin-left: -566px;
  }

  .issues-water {
    margin-top: 333px;
    margin-left: -695px;
  }

  .issues-clock {
    margin-top: 321px;
    margin-left: -439px;
  }

  .issues-talk1 {
    margin-top: 390px;
    margin-left: -401px;
  }

  .issues-talk2 {
    margin-top: 444px;
    margin-left: -552px;
  }

  .issues-dog {
    margin-top: 566px;
    margin-left: -700px;
  }

  .issues-piano {
    margin-top: 619px;
    margin-left: -560px;
  }

  .issues-talk3 {
    margin-top: 561px;
    margin-left: -412px;
  }

  .issues-machine {
    margin-top: 754px;
    margin-left: -692px;
  }

  .issues-moto {
    margin-top: 732px;
    margin-left: -459px;
  }

  .issues-plane {
    margin-top: 744px;
    margin-left: -301px;
  }

  .issues-graphic-texts {
    font-family:'TheSans-Regular', sans-serif !important;
    color: white;
    z-index: 2;
    font-weight: bolder;
  }

  .issues-normal {
    margin-top: 275px;
    font-size: 56px;
    margin-left: -166px
  }

  .issues-super {
    margin-top: -26px !important;
    margin-left: -163px;
    font-size: 40px;
  }

  .issues-media {
    margin-left: -126px;
    font-size: 40px;
  }

  .issues-hard {
    margin-top: -5px;
    margin-left: -130px;
    font-size: 40px;
  }

  .issues-deep {
    margin-top: -5px;
    margin-left: -152px;
    font-size: 40px;
  }

  .issues-rest {
    margin-top: -25px;
    margin-left: -480px;
    font-size: 35px;
    text-align: center;
  }

  .issues-lost {
    margin-top: -25px;
    margin-left: -147px;
    font-size: 40px;
  }

  .issues-graphic-texts1 {
    font-family:'TheSans-Regular', sans-serif !important;
    color: white;
    z-index: 2;
  }

  .issues-normal1 {
    margin-top: -646px;
    margin-left: 50px;
    font-size: 20px;
  }

  .issues-super1 {
    margin-top: 70px;
    margin-left: 50px;
    font-size: 20px;
  }

  .issues-media1 {
    margin-top: 67px;
    margin-left: 53px;
    font-size: 20px;
  }

  .issues-hard1 {
    margin-top: 69px;
    margin-left: 53px;
    font-size: 20px;
  }

  .issues-deep1 {
    margin-top: 37px;
    margin-left: 51px;
    font-size: 20px;
}

  .issues-rest1 {
    margin-top: -14px;
    margin-left: 51px;
    font-size: 20px;
  }

  .issues-lost1 {
    margin-top: -13px;
    margin-left: 51px;
    font-size: 20px;
  }

  .issues-topo {
      margin-left: 100px;
  }

  .issues-topo-pgph {
    width: 660px;
    margin-top: 50px;
    margin-left: -277px;
  }

  .issues-external {
    margin-left: 160px;
  }

  .brainschema {
    margin-left: 130px;
  }

  .issues-brain {
    margin-left: -235px;
    margin-top: -85px;
  }

  .issues-red-arrow {
    margin-top: -216px;
    margin-left: 290px;
    height: 269px;
    width: 140px;
  }

  .issues-blue-arrow {
    margin-left: 163px;
    margin-top: -366px;
  }

  .issues-one-red {
    margin-left: 115px;
    margin-top: -25px;
    width: 135px;
  }

  .issues-red-text {
    font-family: 'TheSans-Regular', sans-serif !important;
    color: #e67878;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: -12px;
  }

.issues-two-yellow {
    margin-left: 110px;
    margin-top: -25px;
    width: 135px;
}

.issues-yellow-arrow {
  margin-top: -226px;
    margin-left: 100px;
}
.issues-yellow-text {
    font-family: 'TheSans-Regular', sans-serif !important;
    color: #f59b1b;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: -12px;
}

.issues-three-blue {
    margin-left: 110px;
    margin-top: -25px;
    width: 135px;
}

.issues-blue-text {
    font-family: 'TheSans-Regular', sans-serif !important;
    color: rgba(28, 28, 120, 0.544);
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: -12px;
}

.exam-top-background {
    height: 400px;
    width: 100%;
    margin-left: 28px;
}

.exam-top-title {
  font-family: 'Exo-Regular', sans-serif !important;
  font-size: 60px;
  margin-left: 100px;
  font-weight: bolder;
  color: white;
  position: absolute;
  margin-top: 80px;
}

.exam-top-subtitle {
  font-family: 'Exo-Regular', sans-serif !important;
    font-size: 80px;
    margin-top: 160px;
    margin-left: 103px;
    font-weight: bolder;
    color: white;
    position: absolute;
}

.exam-top-right-cont {
  margin-left: 600px;
  margin-top: -170px;
}

.exam-top-list {
  color: white;
    font-family: 'TheSans-Regular', sans-serif !important;
    font-size: 22px !important;
    position: absolute;
    margin-left: 600px !important;
    margin-top: 80px !important;
}

.exam-top-question {
  font-family: 'Exo-Regular', sans-serif !important;
    color: white;
    font-weight: bolder;
    font-size: 36px;
    margin-top: 220px;
    margin-left: 900px;
    position: absolute;
}

.exam-top-subquestion {
  font-family: 'Exo-Regular', sans-serif !important;
    color: white;
    font-size: 28px;
    margin-top: 284px;
    margin-left: 891px;
    position: absolute;
}

.exam-2nd-row {
  z-index: -3;
  margin-top: -135px;
}

.exam-arcs {
  z-index: 0;
  position: absolute;
  margin-top: 200px;
}

.arc1 {
  margin-left: 330px;
  margin-top: 200px;
}

.arc2 {
  margin-left: -272px;
  margin-top: 137px;
}

.arc3 {
  margin-left: -355px;
  margin-top: 56px;
}

.exam-list {
  z-index: 0;
  margin-top: 220px;
  margin-left: -675px;
}

.exam-icons {
  width: 100px !important;
  height: 100px !important;
}

.exam-list-content {
  font-family: 'TheSans-Regular', sans-serif !important;
  color: #28285b;
  font-size: 30px !important;
}

.list-revision {
  margin-top: 34px !important;
  margin-left: 175px !important;
}

.list-evaluation {
  margin-left: 245px !important;
    margin-top: 80px !important;
}

.exam-buttons {
  height: 100px;
    margin-left: 850px;
    margin-top: -525px;
}

.exam-btntxt1,
.exam-btntxt2 {
  font-family: 'TheSans-Regular', sans-serif !important;
    color: white !important;
    font-size: 26px !important;
    text-align: center;
    font-weight: bolder;
}

.exam-btntxt1 {
  margin-left: -358px;
    margin-top: -75px;
}

.exam-btntxt2 {
  margin-left: 279px;
  margin-top: -103px;
}

.bottom-section {
  margin-top: -200px;
}

.exam-bottomBack {
  width: 100%;
  margin-left: 29px;
  height: 400px;
  z-index: -1;
}

.exam-bottomImg {
  width: 100%;
  margin-left: 29px;
    height: 450px;
    z-index: 0;
    margin-top: -365px;
}

.aux-top-background {
  height: 400px;
    width: 100%;
    margin-left: 28px;
}

.aux-top-title {
  font-family: 'Exo-Regular', sans-serif !important;
  font-size: 60px;
  margin-top: -341px;
  margin-left: 100px;
  font-weight: bolder;
  color: white;
}

.aux-top-subtitle {
  font-family: 'Exo-Regular', sans-serif !important;
  font-size: 80px;
  margin-top: 113px;
  margin-left: 122px;
  font-weight: bolder;
  color: white;
  position: absolute;
}

.aux-top-subsubtitle {
  font-family: 'Exo-Regular', sans-serif !important;
    font-size: 70px;
    margin-top: 189px;
    margin-left: 106px;
    font-weight: bolder;
    color: white;
    position: absolute;
  }

.aux-top-subquestion {
  font-family: 'Exo-Regular', sans-serif !important;
    color: white;
    font-size: 28px;
    margin-top: 94px !important;
    margin-left: 601px;
    position: absolute;
}

.aux-background {
  z-index: -1;
  height: 440px;
    margin-left: 28px;
    width: 100%;
}

.aux-prods {
  margin-left: 200px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper {
  height: 100%;
  display: table;
}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.el-wrapper {
  width: 360px;
  padding: 15px;
  margin: 15px auto;
  background-color: #fff;
}

@media (max-width: 991px) {
  .el-wrapper {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }
}

.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #818181;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

.el-wrapper:hover .img {
  webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
  opacity: 0.4;
}

.el-wrapper:hover .info-inner {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  padding: 20px 0;
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #3f96cd;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #464646;
}

.info-inner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
}

.info-inner .p-name {
  font-family: 'Exo-Regular', sans-serif;
  font-size: 38px;
  font-weight: bolder;
  color: #294999;
  margin-bottom: 15px;
}

.info-inner .p-company {
  font-family: 'Exo-Regular', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #408ccb;
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Exo-Regular', sans-serif;
  font-weight: 700;
}

.cart .price {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #252525;
}

.cart .add-to-cart {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}

.first-column {
  margin-left: -350px;
}

.second-column {
  margin-left: -350px;
    margin-top: -420px;
}

.third-column {
  margin-left: -350px;
    margin-top: -420px;
}

.bte {
  width: 200px;
  height: 200px;
}

.aux-1st-ear {
  margin-left: 50px;
}

.aux-1st-txt {
  font-family: 'Exo-Regular', sans-serif;
  font-size: 30px;
    font-weight: bolder;
    margin-left: -285px;
    margin-top: 85px;
    color: white;
}

.aux-circle {
  margin-left: 50px;
}

.right-line {
  margin-left: 80px;
}

.aux-clock {
  margin-top: -388px;
}

.aux-app {
  margin-left: -203px;
    margin-top: -115px;
}

.aux-voice {
  margin-left: -203px;
    margin-top: 411px;
}

.aux-volume {
  margin-top: 150px;
    margin-left: -202px;
}

.aux-list-imgs {
  margin-top: -500px;
    margin-left: 100px;
}

.aux-descriptions {

}

.aux-1st-desc,.aux-2nd-desc,.aux-3rd-desc,.aux-4th-desc {
    margin-left: -186px;
    z-index: -1;
    position: absolute;
}

.aux-1st-desc {
  margin-top: 57px;
}

.aux-2nd-desc {
  margin-top: 191px;
}

.aux-3rd-desc {
  margin-top: 325px;
}

.aux-4th-desc {
  margin-top: 457px;
}

.aux-1st-txtlist,.aux-2nd-txtlist,.aux-3rd-txtlist,.aux-4th-txtlist {
  font-family: 'Exo-Regular', sans-serif;
  font-size: 26px;
    font-weight: bolder;
    color: #28285b;
    position: absolute;
}

.aux-1st-txtlist {
  margin-top: -521px;
  margin-left: 219px;
}

.aux-2nd-txtlist {
  margin-top: -388px;
  margin-left: 225px;
}

.aux-3rd-txtlist {
  margin-top: -250px;
    margin-left: 212px;
}

.aux-4th-txtlist {
  margin-top: -120px;
  margin-left: 200px;
}

.aux-1st-subtxtlist,.aux-2nd-subtxtlist,.aux-3rd-subtxtlist,.aux-4th-subtxtlist {
  font-family: 'TheSans-Regular', sans-serif;
  font-size: 16px;
    color: #408ccb;
    position: absolute;
    font-weight: lighter;
}

.aux-1st-subtxtlist {
  margin-top: -458px;
  margin-left: 174px;
}

.aux-2nd-subtxtlist {
  margin-top: -324px;
    margin-left: 174px;
}

.aux-3rd-subtxtlist {
  margin-top: -188px;
    margin-left: 174px;
}

.aux-4th-subtxtlist {
  margin-top: -52px;
  margin-left: 174px;
}

.bte-circle {
  z-index: 0;
    position: absolute;
    margin-left: 115px;
    margin-top: -383px;
}

.glasses-row {
  margin-top: 280px;
}
.glasses-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 400px;
  background:white;
  overflow: hidden;
}
.glasses-card .imgBx,
.glasses-card .details {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s;
}
.glasses-card .imgBx {
  top: 0;
  left: 0;
}
.glasses-card:hover .imgBx {
  top: 0;
  left: -100%;
}
.glasses-card .imgBx img {
  width: 100%;
  margin-top: 111px;
}
.glasses-card .details {
  background: #294999;
  top: 0;
  left: 100%;
  padding: 60px 30px;
}
.glasses-card:hover .details {
  top: 0;
  left: 0%;
}
.glasses-card .details h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid #fff;

}
.glasses-card .details p {
  margin: 20px 0 0;
  color: #fff;
}

.tree-section{
  margin-left: 200px;
}

.ip67 {
  width: 300px;
    height: 300px;
    margin-left: 150px;
}

.line, .line2, .line3, .line4 {
  height: 20px;
}

.line {
    margin-top: 107px;
}

.line2 {
    margin-top: 169px;
    margin-left: -347px;
}

.line3 {
  margin-top: 232px;
    margin-left: -347px;
}

.line4 {
  margin-top: 296px;
    margin-left: -347px;
}

.ip67-list {
  margin-top: 96px;
  margin-left: 15px;
}

.ip67-txt {
  font-family: 'Exo-Regular', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: #245d8e;
  margin-bottom: 21px;
}

.auxear-box{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.auxear-card{
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.auxear-card:before,
.auxear-card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.auxear-card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.auxear-card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.auxear-card .auxear-imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.auxear-card:hover .auxear-imgBx
{
  bottom: 80px;
}

.auxear-card .auxear-imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auxear-card .auxear-details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.auxear-card .auxear-details h2{
  font-family: 'Exo-Regular', sans-serif;
  font-weight: bolder;
 margin: 0;
 padding: 0;
 font-size: 20px;
 color: #245d8e;
 text-transform: uppercase;
} 

.auxear-card .auxear-details h2 span{
  font-family: 'Exo-Regular', sans-serif;
font-weight: bolder;
font-size: 16px;
color: #294999;
display: block;
margin-top: 5px;
 } 

 .aux-title-txt {
  font-family: 'Exo-Regular', sans-serif;
  position: absolute;
  margin-top: -89px;
  color: white;
  font-size: 30px;
  margin-left: 56px;
  font-weight: bolder;
 }

 .aux-title-btn {
   margin-left: 680px;
 }

 .big-u-clearfix:before,
 .big-u-clearfix:after {
   content: " ";
   display: table;
 }
 
 .big-u-clearfix:after {
   clear: both;
 }
 
 .big-u-clearfix {
   *zoom: 1;
 }
 
 .big-subtle {
   color: #294999;
   font-family: 'Exo-Regular', sans-serif;
   font-weight: bolder;
 }
 
 .big-card-container {
   margin: 25px auto 0;
   position: relative;
   width: 1092px;
 }
 
 .big-card {
   background-color: #fff;
   padding: 30px;
   position: relative;
   box-shadow: 0 0 5px rgba(75, 75, 75, .07);
   z-index: 1;
 }
 
 .big-card-body {
   display: inline-block;
   float: left;
   width: 310px;
 }
 
 .big-card-number {
   margin-top: 15px;
 }
 
 .big-card-circle {
   border: 1px solid #aaa;
   border-radius: 50%;
   display: inline-block;
   line-height: 22px;
   font-size: 12px;
   height: 25px;
   text-align: center;
   width: 25px;
 }
 
 .big-card-author {
   display: block;
   font-size: 12px;
   letter-spacing: .5px;
   margin: 15px 0 0;
   text-transform: uppercase;
 }
 
 .big-card-title {
   font-family: 'Exo-Regular', sans-serif;
   color: #294999;
   font-size: 60px;
   font-weight: 300;
   line-height: 60px;
   margin: 10px 0;
   width: 600px;
 }
 
 .big-card-description {
   display: inline-block;
   font-weight: 300;
   line-height: 22px;
   margin: 10px 0;
   width: 600px;
 }
 
 .big-card-read {
   cursor: pointer;
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 6px;
   margin: 5px 0 20px;
   position: relative;
   text-align: right;
   text-transform: uppercase;
 }
 
 .big-card-tag {
   float: right;
   margin: 5px 0 0;
 }
 
 .big-card-media {
   float: right;
 }
 
 .big-card-shadow {
   background-color: #fff;
   box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
   height: 1px;
   margin: -1px auto 0;
   width: 80%;
   z-index: -1;
 }

 .balerina-1, .balerina-2, .balerina-3 {
   width: 100px;
   height: 100px;
 }

 .ric-devices {
  z-index: 1;
  position: relative;
  margin-top: -120px;
  margin-bottom: -39px;
 }

 .bte-devices {
  z-index: 1;
  position: relative;
  margin-top: -50px;
  margin-bottom: -39px;
 }

 .pricing-top-back {
   width: 100%;
   height: 450px;
 }

.pricing-top-title, .pricing-top-subtitle, .pricing-top-subsubtitle, .pricing-top-subquestion {
  font-family: 'Exo-Regular', sans-serif !important;
  color: white;
  position: absolute !important;
}

 .pricing-top-title {
  font-size: 60px;
    margin-top: 63px;
    margin-left: 100px;
    font-weight: bolder;
}

.pricing-top-subtitle {
  font-size: 80px;
  margin-top: 113px;
  margin-left: 122px;
  font-weight: bolder;
}

.pricing-top-subsubtitle {
    font-size: 70px;
    margin-top: 189px;
    margin-left: 160px;
    font-weight: bolder;
  }

.pricing-top-subquestion {
    font-size: 28px;
    margin-top: 94px !important;
    margin-left: 601px;
}

.pricing-1st-img{
  width: 100%;
  z-index: -1;
  margin-top: -120px;
  height: 800px;
}

.pricing-1st-title {
  font-family: 'Exo-Regular', sans-serif !important;
  font-weight: bolder;
  font-size: 40px;
  color: #294999;
  margin-top: -120px !important;
  margin-left: 760px;
}

.pricing-hypo-container {
  position: absolute;
  height: 300px;
  width: 1200px;
  top: 750px;
  left: calc(50% - 580px);
  display: flex;
}

.pricing-hypo-card {
  display: flex;
  height: 180px;
  width: 300px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin-top: 550px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.pricing-card1 {
  background-color: #245d8e;
}

.pricing-card2 {
  background-color: #408ccb;
}

.pricing-card3 {
  background-color: #78acdb;
}

.pricing-card4 {
  background-color: #98b9d6;
}

.pricing-hypo-card:not(:first-child) {
    margin-left: 30px;
}

.pricing-hypo-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.pricing-hypo-card:hover ~ .pricing-hypo-card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.pricing-hypo-title {
  font-family:'TheSans-Regular', sans-serif !important;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 15px;
}

.pricing-hypo-subtitle {
  font-family:'TheSans-Regular', sans-serif !important;
  color: white;
  font-size: 34px;
  margin-top: -25px !important;
}

.pricing-hypo-bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.pricing-hypo-emptybar {
  background-color: white;
  width: 100%;
  height: 100%;
}

.pricing-hypo-filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.pricing-hypo-card:hover .pricing-hypo-filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.pricing-hypo-circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.pricing-hypo-stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.pricing-hypo-card:hover .pricing-hypo-stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.pricing-cost {
  margin-top: 200px;
}

.pricing-nocost {
  margin-left: 200px;
}

.pricing-cost-subtitle{
  font-family: "TheSans-Regular", sans-serif;
  font-weight: bolder;
  font-size: 63px;
  position: absolute;
  color: #245d8e;
  margin-top: 220px;
  margin-left: 190px;
}

.pricing-cost-subsubtitle{
  font-family: "TheSans-Regular", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  position: absolute;
  color: #245d8e;
  margin-top: 290px;
  margin-left: 190px;
}

.pricing-button1, .pricing-button2, .pricing-txtbtn1, .pricing-txtbtn2 {
  position: absolute;
}

.pricing-button1 {
  margin-left: 1100px;
  margin-top: 50px;
}

.pricing-button2 {
  margin-left: 1100px;
  margin-top: 200px;
}

.pricing-txtbtn1, .pricing-txtbtn2 {
  font-family: "TheSans-Regular", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  position: absolute;
  color: white;
}

.pricing-txtbtn1 {
  margin-left: 1160px;
  margin-top: 88px;
}

.pricing-txtbtn2 {
  margin-left: 1200px;
  margin-top: 232px;
}

.pricing-ear-sct {
  margin-top: 280px;
}

.pricing-1st-txt {
  font-family: 'Exo-Regular', sans-serif;
  font-size: 18px;
    font-weight: bolder;
    margin-left: -295px;
    margin-top: 80px;
    color: white;
    text-align: center;
}

.pricing-circle1 {
  margin-left: 200px;
}

.pricing-one, .pricing-two, .pricing-three, .pricing-four {
  position: absolute;
}

.pricing-one {
  margin-left: 600px;
}

.pricing-two {
  margin-left: 640px;
  margin-top: 150px;
}

.pricing-three {
  margin-left: 600px;
  margin-top: 300px;
}

.pricing-four {
  margin-left: 500px;
  margin-top: 430px;
}

.pricing-bar1, .pricing-bar2, .pricing-bar3, .pricing-bar4 {
  position: absolute;
  z-index: -1;
  margin-left: 580px;
}

.pricing-bar1 {
  margin-top: 20px;
}

.pricing-bar2 {
  margin-top: 170px;
}

.pricing-bar3 {
  margin-top: 323px;
}

.pricing-bar4 {
  margin-top: 460px;
}

.pricing-cost-txt1, .pricing-cost-txt2, .pricing-cost-txt3, .pricing-cost-txt4 {
  position: absolute;
  font-family: 'Exo-Regular', sans-serif !important;
  font-weight: bolder;
  font-size: 30px;
  color: #245d8e;
  margin-left: 850px;
}

.pricing-cost-txt1 {
  margin-top: 60px;
}

.pricing-cost-txt2 {
  margin-top: 230px;
}

.pricing-cost-txt3 {
  margin-top: 360px;
}

.pricing-cost-txt4 {
  margin-top: 500px;
}

.pricing-table-section {
  margin-top: 100px;
}

.pricing-table {
  margin-left: 310px;
}

.pricing-table-img1, .pricing-table-img2, .pricing-table-img3 {
  position: absolute;
  width: 280px;
  margin-left: 355px;
}

.pricing-table-img1 {
  margin-top: 70px;
}

.pricing-table-img2 {
  margin-top: 444px;
}

.pricing-table-img3 {
  margin-top: 819px;
}

.pricing-device1, .pricing-device2, .pricing-device3 {
  position: absolute;
}

.pricing-device1, .pricing-device2 {
  margin-left: 535px;
}

.pricing-device2 {
  margin-top: 410px;
}

.pricing-device3 {
  margin-left: 635px;
  margin-top: 835px;
}

.ribbon1, .ribbon2, .ribbon3 {
  position: absolute;
  margin-left: 1265px;
}

.ribbon1 {
  margin-top: 230px;
}

.ribbon2 {
  margin-top: 610px;
}

.ribbon3 {
  margin-top: 989px;
}

.ribbontxt1, .ribbontxt2, .ribbontxt3 {
  position: absolute;
  margin-left: 1312px;
  font-family: 'Exo-Regular', sans-serif !important;
  text-align: center;
  font-weight: bolder;
  color: white;
  font-size: 30px;
}

.ribbontxt1 {
  margin-top: 233px;
}

.ribbontxt2 {
  margin-top: 613px;
}

.ribbontxt3 {
  margin-top: 993px;
}

.pricing-table-txt1, .pricing-table-txt2, .pricing-table-txt3 {
  position: absolute;
  margin-left: 900px;
  font-family: "TheSans-Regular", sans-serif !important;
  font-weight: bolder;
  font-size: 36px;
  color: #245d8e;
}

.pricing-table-txt1 {
  margin-top: 50px;
}

.pricing-table-txt2 {
  margin-top: 430px;
}

.pricing-table-txt3 {
  margin-top: 810px;
}

.ric-list, .curveta-list, .intracanal-list {
  font-family: "TheSans-Regular", sans-serif !important;
  font-size: 24px !important;
  color: #245d8e;
  position: absolute !important;
  margin-left: -597px !important;
}

.ric-list {
  margin-top: 130px !important;
}

.curveta-list {
  margin-top: 500px !important;
}

.intracanal-list {
  margin-top: 890px !important;
}

.pricing-free {
  margin-left: 500px !important;
}

.pricing-freesub {
  position: absolute;
  font-family: "TheSans-Regular", sans-serif !important;
  font-weight: bolder;
  color: #245d8e;
  font-size: 32px;
  text-align: center;
  margin-left: 540px;
  margin-top: 240px;
}

.whatsbutton {
  margin-top: 90px;
  margin-left: 100px;
}

.whatstxt, .whatssub {
  color: white;
  font-family: "TheSans-Regular", sans-serif !important;
  font-weight: bolder;
  position: absolute;
}

.whatstxt {
  margin-left: 1230px;
  margin-top: 115px;
  font-size: 30px;
}

.whatssub {
  margin-left: 1260px;
  margin-top: 155px;
}