@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.navbar {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1c1c1c;
  }
  
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      border: none;
      box-shadow: none;
  }
  .navigation {
  width:30%;
  margin-left: 27%;
  }
  
  .menuItems {
  display: block !important;
  padding: 8px !important;
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 16px !important;
  margin-left: 50px !important;
  color: #FFFFFF !important;
  }
  
  .menuItemsBlue {
  display: block !important;
  padding: 8px !important;
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 16px !important;
  font-weight: bolder !important;
  color:black !important;
  margin-left: 50px !important;
  }
  
  .menuItems:hover {
  display: block !important;
  text-decoration: none !important;
  padding: 8px !important;
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 16px !important;
  color: rgba(255, 255, 255, 0.5) !important;
  }
  
  .menuItemsBlue:hover {
  display: block !important;
  text-decoration: none !important;
  padding: 8px !important;
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 16px !important;
  background-color: #c3e5f1 !important;
  border-radius: 15px !important;
  color: black !important;
  }
  
  .icon {
    margin-left: 140px;
  }
  
  .session {
    color: #FFFFFF;
    margin-left: 300px;
  }
  .session:hover {
    color: gray;
  }   

  .nav2{
      margin-top: 150px;
      margin-left: -100px;
  }

  .agenda{
      width: 185px;
      height: 100px;
  }

  .listItem{
      margin-right: 60px;
  }

.drop-services-item {
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 12px !important;
  color: black !important;
  font-weight: lighter !important;
  margin-top: 5px !important;
}