@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.carousel-item{
    height: 500px;
} 
.carousel-item img{
    height: 500px;
}

.AccessMenu {
    height: 75px;
}

.btnAccessMenu{
    font-size: 24px !important;
    color: #ffffff !important;
    font-weight: bolder !important;
    background-color: #2ab9d0 !important;
}

.btnAccessMenu:hover {
    background-color: #228ba6 !important;
    cursor: pointer !important;
    -webkit-transition: background-color 1s ease-out !important;
    -moz-transition: background-color 1s ease-out !important;
    -o-transition: background-color 1s ease-out !important;
    transition: background-color 1s ease-out !important;
}

.advisory {
    text-align: center;
    font-size: 85px;
    font-family: 'Alfa Slab One', cursive;
    color: #245d8e;
    margin-top: 30px !important;
}

.advisory-sub {
    text-align: center;
    font-size: 48px;
    font-family: 'Dosis', sans-serif;
    color: #245d8e;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: -50px;
}

.advisory-2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    color: #245d8e;
}

.img-advisory {
    padding: 20px;
}

.card-header {
    text-align: center !important;
    background-color: transparent !important;
    color: #245d8e !important;
    font-weight: bolder !important;
    font-size: 19px !important;
}

.card-devices {
    margin-left: 100px !important;
}

.card-desc {
    font-weight: bold !important;
    text-align: center !important;
}

.clients {
    width: 350px;
    height: 350px;
    border-radius: 500px;
    margin-left: 230px;
}

.services-img {
    border-radius: 250px;
    width: 300px;
    height: 300px;
    margin-left: 35px;
}

.services-title {
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    color: #245d8e;
    margin-top: 10px;
}

.services-subtitle {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
    color: #245d8e;
    margin-top: -40px;
}

.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
    border: 0px;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #228ba6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-top-left-radius: 20px !important;
    border-top-rIght-radius: 20px !important;
}

.container .card:hover .face.face1{
    background: #78acdb;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.8;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    width: 77px;
    height: 73px;
    margin-left: 70px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}

.container .card .face.face1 .content h5{
    margin: 10px 0 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container .card:hover .face.face2{
    transform: translateY(0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    font-size: 34px;
    color: #78acdb;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

.container .card .face.face3{
    position: relative;
    background: #294999;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-top-left-radius: 20px !important;
    border-top-rIght-radius: 20px !important;
}

.container .card:hover .face.face3{
    background: #78acdb;
    transform: translateY(0);
}

.container .card .face.face3 .content{
    opacity: 0.8;
    transition: 0.5s;
}

.container .card:hover .face.face3 .content{
    opacity: 1;
}

.container .card .face.face3 .content img{
    width: 77px;
    height: 73px;
    margin-left: 70px;
}

.container .card .face.face3 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}

.container .card .face.face3 .content h5{
    margin: 10px 0 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.container .card .face.face4{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container .card:hover .face.face4{
    transform: translateY(0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.container .card .face.face4 .content p{
    margin: 0;
    padding: 0;
    font-size: 34px;
    color: #78acdb;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

.container .card .face.face4 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face4 .content a:hover{
    background: #333;
    color: #fff;
}

.contact-whatsapp {
    margin-left: 49px !important;
}