@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&display=swap');

  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: 'Poppins', sans-serif;
  }
  
  /*---------------------------------------------*/
  a {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
    color: #333333;
  }
  
  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  p {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; text-align: center; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }

  input::-webkit-input-placeholder { color: #28285b; text-align: center}
  input:-moz-placeholder { color: #28285b; text-align: center}
  input::-moz-placeholder { color: #28285b; text-align: center}
  input:-ms-input-placeholder { color: #28285b; text-align: center}
  
  /*---------------------------------------------*/
  .logo{
      margin-left: 15px;
      height: 200px;
      width: 200px;
  }

  .avatar{
    height: 138px;
      width: 308px;
  }

  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  .txt1 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #999999;
    line-height: 1.5;
  }
  
  .txt2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #28285b;
    line-height: 1.5;
  }

  .txt3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: #28285b;
    line-height: 1.5;
    text-align: center;
    margin-left: 123px;
  }

  .txt4 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: #28285b;
    line-height: 1.5;
    text-align: center;
    margin-left: 7px;
  }
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #fff;  
    background-image: url('../../assets/Auth/medicos.png');
    background-size: cover;
  }
  
  .wrap-login {
    width: 390px;
    background: transparent;
  }
  
  .login-form {
    width: 100%;
    padding: 20px;
  }
  
  .login-form-title {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: bolder;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #28285b;
  }
  
  .input {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #28285b;
    line-height: 1.2;
  
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;
    margin-top: 25px;
  }
  
  /*---------------------------------------------*/ 
  .focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #408ccb;
  }
  
  .focus-input::after {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 3px;
    color: #28285b;
    line-height: 1.2;
  
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input:focus + .focus-input::after {
    top: -20px;
    font-size: 15px;
  }
  
  .input:focus + .focus-input::before {
    width: 100%;
  }
  
  .container-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .login-form-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 200px;
    height: 50px;
    background-color: #245d8e;
    border-radius: 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login-form-btn:hover  {
    background-color: #78acdb;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .login-more li {
    position: relative;
    padding-left: 16px;
  }
  
  .login-more li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #cccccc;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
  }